body {
    overflow: hidden;
}

.text_block {
    margin: 10% auto 0 auto;
    width: 50%;
    height: 60%;

    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}

.link_block {
    width: 85%;
    margin-left: auto;
    margin-top: 70px;
}

.link {
    color: red;
}