body {
    background-color: blueviolet;
}

div {
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 2px solid violet;
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}